beautifulsoup4
Django>5
# Base docker image must be update when GDAL is updated
# https://github.com/yverdon/docker-kablo/
gdal==3.8.3
gunicorn
psycopg2-binary
requests
whitenoise
django-simple-history
djangorestframework
djangorestframework-gis
django-cors-headers
django-two-factor-auth[phonenumbers]
django-oauth-toolkit
django-allauth
django-axes[ipware]
django-rest-knox
