{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <style>
            html {
                background-color: black;
                font-family: arial;
                color: white;
                border: 0;
                text-align: center;
            }

        </style>

    </head>
<body>


<h1>{% translate 'Welcome to the kablo project!' %}</h1>
<p>{% translate 'Looks your development server is up and running, congrats!' %}</p>
<h2>{% translate 'All is about networks' %}</h2>

</body>
</html> 